@page
@model T4_Pr1_Hugo_energies_2.Pages.SimulationsModel
@{
    ViewData["Title"] = "Simulations";
}

<h1>llistat de Simulacions</h1>
@if(Model.EnergySystems == null || !Model.EnergySystems.Any())
{
    <p>No hi ha cap simulació registrada.</p>
}
else
{
    <br />
    <table class="table">
        <thead>
            <tr>
                <td>Data i Hora</td>
                <td>Tipus</td>
                <td>Paràmetre del Càlcul</td>
                <td>Rati</td>
                <td>Energia Generada</td>
                <td>Cost per kWh</td>
                <td>Preu per kWh</td>
                <td>Cost Total</td>
                <td>Preu Total</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EnergySystems)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.SimulationType</td>
                    <td>@item.value</td>
                    <td>@item.ratio</td>
                    <td>@item.energyGenerated</td>
                    <td>@item.costPerKWh</td>
                    <td>@item.pricePerKWh</td>
                    <td>@item.totalCost</td>
                    <td>@item.totalPrice</td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-page="/AddSimulation" class="btn btn-primary">Afegir Sistema</a>